.contacts-container {
  margin: 25px 30px;

  @media screen and(min-width: $tablet) {
    margin: 0 40px;
  }
}

.my-name-mobile {
  font-weight: 700;
  text-transform: uppercase;
  color: $text-color;
  margin-bottom: 10px;
  font-size: calc(15px + (7 + 7 * 0.7) * ((100vw - 320px) / 1200));
  @media screen and (min-width: $desktop) {
    display: none;
  }
}

.profession-mobile {
  position: relative;
  font-weight: 700;
  text-transform: uppercase;
  color: $text-color;
  margin-bottom: 20px;
  font-size: calc(12px + (7 + 7 * 0.7) * ((100vw - 320px) / 1200));
  @media screen and (min-width: $desktop) {
    display: none;
  }
}

.profession-mobile:after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 30%;
  width: 40%;
  height: 1px;
  margin-left: -30%;
  background: $text-color;
}

.contacts-title {
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 2.3px;
  color: $text-color;
  margin-bottom: 10px;
  text-transform: lowercase;
}

.contacts.list {
  margin-bottom: 25px;
}

.contacts-link {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: $text-color;
}

.contacts-link-type {
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  color: $text-color;
}

.tel-icon {
  display: inline-block;
  margin-right: 10px;
  vertical-align: middle;
  background-size: contain;
  fill: currentColor;
}

// .contacts-location {
//   margin: 15px 0;
//   text-align: center;
//   font-size: 14px;
//   font-weight: 400;
//   line-height: 24px;
//   color: $text-color;
// }

.contacts-info {
  display: flex;
  justify-content: center;
}

.social-item:not(:last-child) {
  margin-right: 10px;
}
